.title {
  font-size: 80px !important;
  color: cornsilk !important;
  background-color: black !important;
}

.quarto-title-author-name {
  color: white !important;
  background-color: black !important;

}